.LogOut {
    position: absolute;
    right: 0;
}
.summary-label {
    font-size: 1.100em;
}
.summary-qty {
    font-size: 1.120em;
    text-align: right;
    font-weight: bold;
}
.temperature-label {
    font-size: 1.000em;
}
.temperature-value {
    font-size: 1.500em;
}
.sensor-desc {
    font-size: 1.500em;
}
